:host {
  flex: .5;
  margin: 1%;

  @media (max-height: 467px) and (orientation: landscape) {
    height: 95vh;
  }
}

.card {
  width: 100%;
  height: 100%;
  user-select: none;

  position: relative;
  display: flex;
  justify-content: center;

  .img-holder {
    overflow: hidden;
    aspect-ratio: 0.733231707;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .card-img {
    width: 100%;
    height: auto;
    transition: transform .4s, scale .4s cubic-bezier(0.395, -0.600, 0.820, 0.045), rotate .4s;
    backface-visibility: hidden;
    clip-path: inset(3.1% round 4%);
    transform: scale(1.05);

    @media (max-height: 467px) and (orientation: landscape) {
      width: auto;
      height: 100%;
    }
  }

  .card-back {
    position: absolute;
    left: 0;
  }

  .tapped {
    transition: transform .4s, scale .4s cubic-bezier(0.090, 1.640, 0.235, 1.620), rotate .4s;
    scale: 0.733231707;
    rotate: 90deg;
  }

  .flipped {
    transform: scale(1.05) translateZ(1000px) rotateY(180deg);
  }

  .flip {
    position: absolute;
    right: -3px;
    top: -2px;
    width: 40%;
    height: auto;
    z-index: 5;
    transform: translateZ(2000px);
  }

  .tap {
    position: absolute;
    bottom: 6px;
    left: 5px;
    padding: 15px 20px;
    background: rgba(96, 150, 186, 0.7);
    z-index: 5;
    transform: translateZ(2000px);
  }

  .tap:hover {
    background: rgba(108, 168, 208, 0.7);
  }

  .tap:active {
    top: unset;
    bottom: 9px;
  }

}

