.card {
  width: 100%;
  position: relative;

  .card-img {
    width: 100%;
    border-radius: 8px;
  }

  .card-back {
    position: absolute;
    left: 0;
  }

  .flip {
    position: absolute;
    right: -5px;
    top: -5px;
    width: 40%;
    z-index: 5;
  }

}

