<div class="card" *ngIf="front != 'none'">
  <div class="img-holder">
    <img (load)="frontLoaded()" class="card-img" [ngClass]="{ tapped, flipped }" [src]="front" width="962" height="1312"
         alt="card" (click)="tap()">
    <img (load)="backLoaded()" class="card-img card-back" *ngIf="back && back != 'none'"
         [ngClass]="{ tapped, flipped: !flipped }" [src]="back" width="962" height="1312" alt="card-back"
         (click)="tap()">
  </div>
  <img class="flip" ngSrc="assets/imgs/flip.png"
       *ngIf="back && back != 'none'" (click)="flipped = !flipped" alt="flip" height="164" width="164">
</div>
<ng-container *ngIf="displayTap">
  <button class="tap"
          *ngIf="tappable" (click)="tapped = !tapped">Tap
  </button>
  <div class="tap-spacer"
       *ngIf="!tappable">
  </div>
</ng-container>
