:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

form {
  font-family: SoulsBody, sans-serif;
  $font-size: 25px;

  text-align: center;
  padding-top: 20px;
  font-size: $font-size;

  * {
    font-family: SoulsBody, sans-serif;
    font-size: $font-size;
  }
}

.gen-form {

  &.title {
    $font-size: 35px;

    font-size: $font-size;

    * {
      font-size: $font-size;
    }

    button {
      border: 5px solid #274c77;
    }
  }

  &:not(.title) {
    @media (max-width: 580px) {
      margin-top: 60px;
    }
  }

  button {
    margin-top: 10px;

    border: 2px solid #274c77;

    @media (max-height: 600px) {
      margin-bottom: 10px;
    }
  }
}

.logo {
  max-width: 80vw;
  width: 500px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 100px;

  @media (max-width: 600px) and (orientation: landscape) {
    max-height: 80vh;
    max-height: 80svh;
    height: 500px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 50px;
  }

  @media (max-height: 600px) {
    margin-bottom: 10px;
  }
}

.picker-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.die-loader {
  opacity: 0;
  position: absolute;
  user-select: none;
  top: 0;
  width: 0;
  height: 0;
}

.settings-container {

  $settings-width: 315px;

  &.closed {
    .settings {
      svg {
        transform: rotate(135deg);
      }
    }

    .settings-menu {
      right: calc(($settings-width + 30px + 30px + 20px) * -1);
    }
  }

  .settings {
    position: fixed;
    top: 0;
    right: 0;
    color: #dce1e7;
    background: #2e598c;
    padding: 12px 12px 9px 15px;
    border-radius: 0 0 0 15px;

    cursor: pointer;

    z-index: 25;
    transform: translateZ(5000px);
    filter: drop-shadow(-5px 5px 10px rgba(0, 0, 0, 0.25));

    svg {
      transition: transform .5s;
    }
  }

  .settings-menu {

    filter: drop-shadow(-5px 5px 10px rgba(0, 0, 0, 0.25));
    border-top: none;
    border-right: none;

    position: fixed;
    top: 0;
    right: 0;

    z-index: 20;
    transform: translateZ(4000px);

    padding: 10px 15px 17px 15px;
    border-radius: 0 0 0 15px;

    background: rgb(39, 76, 119);
    background: linear-gradient(180deg, rgb(39, 76, 119) 0, rgb(39, 76, 119) 140px, rgb(208, 213, 218) 140px, rgb(208, 213, 218) 100%);

    transform-origin: top right;
    transition: right .5s;

    .settings-title {
      font-size: 25px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 66px;
      text-align: center;
      color: #dce1e7;
    }

    .settings-form {
      background: #dce1e7;
      margin-top: 10px;
      padding: 20px 15px;
      border-radius: 15px;

      max-height: calc(100vh - 137px - 70px);
      max-height: calc(100svh - 137px - 70px);
      overflow-y: auto;

      filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.1));

      width: $settings-width;

      label {
        vertical-align: text-top;
        line-height: 28px;
        padding-left: 5px;
        user-select: none;
        width: 100%;
      }

      input {
        accent-color: #c55151;
        translate: 0 -1px;
      }

      .title-line {
        height: 3px;
        background: #a8adaf;
        border-radius: 2px;
        margin: 0 40px;
      }

      .separator {
        height: 10px;
      }

      .settings-category {

        &:not(:first-child) {
          padding-top: 25px;
        }

        .settings-list {
          text-align: left;

          .settings-entry {
            padding-top: 2px;

            display: flex;

            i {
              font-size: 22px;
              margin-left: 5px;
            }
          }

          .credits {
            margin-left: 45px;
            font-size: 20px;

            color: #5e5757;

            margin-bottom: 5px;

            * {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

footer {
  text-align: center;
  padding: 10px;
}
