<ng-container *ngIf="!char">
  <form [formGroup]="genForm" (ngSubmit)="generateChars()">
    <div>
      Choose from
      <select formControlName="numGen">
        <option *ngFor="let number of numbers" [value]="number">{{ number }}</option>
      </select>
      Random Character(s)
    </div>
    <button type="submit">Roll Character(s)</button>
  </form>

  <app-char-picker *ngFor="let charOption of charOptions" [char]="charOption" (pickChar)="pickChar($event)"></app-char-picker>
</ng-container>

<app-char-display *ngIf="char" [char]="char" (back)="back()"></app-char-display>
