<ng-container *ngIf="!char">
  <form [formGroup]="genForm" (ngSubmit)="generateChars()" [class.title]="charOptions.length == 0">
    <img *ngIf="charOptions.length == 0" class="logo" ngSrc="assets/imgs/logo.png" height="1415" width="1920" alt="logo">
    <div>
      Choose from
      <select formControlName="numGen">
        <option *ngFor="let number of numbers" [value]="number">{{ number }}</option>
      </select>
      Random Character(s)
    </div>
    <button type="submit">Roll Character(s)</button>
  </form>

  <div class="picker-container">
    <app-char-picker *ngFor="let charOption of charOptions; let i = index" [skipLoad]="i < loadIndex" [waitForLoad]="i > loadIndex" [char]="charOption" (pickChar)="pickChar($event)" (loaded)="loadNext()"></app-char-picker>
  </div>
</ng-container>

<app-char-display *ngIf="char" [char]="char" (back)="back()"></app-char-display>

<img class="die-loader" ngSrc="assets/imgs/die.png" alt="die" height="128" width="128">
