<div class="container">
  <div class="middle-container">
    <div class="hand-container">
      <div class="card-container">
        <app-card [front]="char?.front" [back]="char?.back" [tappable]="true"></app-card>
        <app-card *ngIf="char?.item != 'none'" [front]="char?.item" [back]="char?.itemBack"
                  [tappable]="char?.itemTappable ?? false"></app-card>
      </div>
      <div *ngIf="char?.hasCounter" class="counter-container">
        <button (click)="subtractCounter()" class="counter-button">-1</button>
        <div class="counter-value">{{counter}}</div>
        <button (click)="addCounter()" class="counter-button">+1</button>
      </div>
    </div>
    <div class="credits-container">
      <div class="credit" *ngFor="let credit of char?.cardCredits">
        {{credit.for}} by <a [href]="credit.user.link" target="_blank">{{credit.user.name}}</a>
      </div>
      <div class="credit set-credit" *ngIf="char?.set?.link != 'none'">
        Set: <a [href]="char?.set?.link" target="_blank">{{char?.set?.name}}</a>
      </div>
    </div>
  </div>

  <div class="button-container">
    <button class="button-select" (click)="back.emit(char)">BACK</button>
  </div>
</div>
