/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'SoulsTitle';
    src: url('assets/fonts/Font_soulsV2_Title-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'SoulsBody';
  src: url('assets/fonts/Font_soulsV2_Body-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  background: #a8c1d3 url("assets/imgs/bg.png") repeat center center;
}

body {
  margin: 0;
}

* {
  font-family: SoulsTitle, sans-serif;
}

button {
  background: #6096ba;
  border: none;
  font: inherit;
  outline: inherit;
  border-radius: 11px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 22px;
  padding: 10px;
  text-align: center;
}

button:hover {
  background: #6ca8d0;
}

button:active {
  position: relative;
  top: 1px;
}

button:disabled {
  background: #7d99aa;
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 200px rgba(0,0,0,0.2) inset;
  z-index: -10;
}
