:host {
  display: flex;
  justify-content: center;
  margin: 10px 5px;
}

$max-width: 700px;
$width: calc(100vw - 25px);

.container {
  position: relative;
  width: $width;
  max-width: $max-width;

  border: 10px solid #274c77;
  border-radius: calc(min($width, $max-width) * 0.01 + 20px);

  background: #b2c9e3;

  @media (min-width: 600px) and (orientation: landscape) {
    & {
      width: 80vw;
      border-radius: calc(min(80vw, $max-width) * 0.01 + 20px);
    }
  }

  .card-container {
    display: flex;

    > * {
      flex: .5;
      margin: 1%;
    }
  }

  .load-container {
    z-index: 10;
    background: #4675ab;
    border: 10px solid #274c77;
    border-radius: calc(min($width, $max-width) * 0.01 + 20px);
    position: absolute;
    left: -10px;
    top: -10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .die {
      animation: rotation 2s infinite linear;
    }

    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
    }
  }
}

.button-select {
  width: calc(100% - 30px - 30px);
  margin: 0 30px 10px;
  padding: 15px;
}
